$bg-dark-mode: #0f0f22;
$bg-light-mode: #ffffff;
$dark-secondary-text: #a9a9a9;
$white-text: #ffffff;

html {
  --primaryBackgroundColor: #f5f8ff;
  --primaryTextColor: #0c0c24;
}

html.dark {
  --primaryBackgroundColor: #0f0f22;
  --primaryTextColor: #ffffff;
}

body {
  background: var(--primaryBackgroundColor);
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-top: 3%;
  .logo-text {
    color: var(--primaryTextColor);
    font-size: 48px;
    font-family: 'Send Flowers', cursive;
  }
  .header-left {
    text-decoration: none;
    color: var(--primaryBackgroundColor);
  }
  .nav {
    display: flex;
    align-items: center;
    margin-right: 30%;
    gap: 75px; /* https://stackoverflow.com/questions/20626685/better-way-to-set-distance-between-flexbox-items */
    .nav-link {
      font-family: 'Roboto', sans-serif;
      color: var(--primaryTextColor);
      font-size: 18px;
      text-decoration: none;
    }
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  align-items: center;
  color: var(--primaryTextColor);
  & .logo-text {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Send Flowers', cursive;
  }
}
.hero-text {
  display: flex;
  padding: 30px;
  margin-left: 2%;
  justify-content: center;
  color: #a9a9a9;
  font-weight: 600;
  font-size: 24px;
}

.link-section {
  display: flex;
  justify-content: center;
  & input {
    height: 45px;
    width: 500px;
  }
  & input[type='text'] {
    border-radius: 10px;

    padding-left: 15px;
    color: $dark-secondary-text;
    font-weight: 600;
    font-size: 14px;
  }
  & input[type='button'] {
    background-color: #ff9df5;
    color: black;
    font-weight: 600;
    font-size: 22px;
    width: 160px;
    height: 52px;
    border-radius: 10px;
  }
}
